<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Live Open Call</title>
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="wrap">

  <h1>live open call</h1>
  <h2>*16 . 12 . 2025*</h2>

  <div id="status" class="status hidden"></div>

  <div id="receipt" class="receipt">

   <div id="textBlock" class="r-block">
      <textarea id="textInput" class="r-textarea" placeholder="type what you're thinking about..."></textarea>
    </div>
  </div>

  <div>

    <div id="imageBlock" class="r-block">
      <input id="imageFile" type="file" accept="image/*" class="r-file">
      <canvas id="previewCanvas" class="r-canvas"></canvas>
    </div>
  </div>

 <button id="btn" class="btn">send to printer</button> 
</div>

<script src="/static/script.js"></script>
</body>
</html>
